{%extends 'base.html'%} 
{%load catalog_tags%} 
{%load static%} 
{%block content%}
<div class="container">
  <div class="border-bottom row d-flex pt-3 pb-5">
    <div class="col-0 col-lg-6"></div>
    <div class="bike-title col-12 col-lg-6 ps-3 pe-3 pb-3 border-bottom">
      <h1>{{bike_selected.mark.name}} {{bike_selected.name}}</h1>
    </div>
    <div class="bike-img col-12 col-lg-6 pt-3 pe-3">
      {% if bike_selected.img_url|find_image %}
      <img src="{{ bike_selected.img_url.url }}" class="d-block" />
      {% else %}
      <img src="{{ default_img }}" class="d-block" />
      {% endif %}
    </div>
    <div class="col-12 col-lg-6 p-3">
      <div class="d-flex row">
        <div class="d-flex bike-add col-8 col-md-6 col-lg-6">
          <button class="btn btn-heart-bike" type="button">
            <div class="bike-star">
              <img src="{% static 'catalog/images/black_star.svg' %}" />
              <div class="text-grey">
                &nbspнет оценок
              </div>
            </div>
          </button>
        </div>
        <div class="d-flex bike-add-favourites col-4 col-md-6 col-lg-6">
          
          {% if bike_favourites %}

          <form name="formFavorite" method="post" class="d-flex">
            {% csrf_token %}
            <div class="d-none d-md-flex d-lg-flex">
              <button
                id="clickOnBtnFavorite{{bike_selected.pk}}"
                class="btn btn-outline-primary btn-right btn-bike"
                type="submit"
              >
                В избранном
              </button>
            </div>
            <div class="d-flex">
              <input type="hidden" name="bike_selected" value="{{bike_selected.pk}}"/>
              <input type="hidden" name="favourite_or_star" value="favourite"/>
              <button
                class="btn btn-heart btn-heart-bike"
                type="submit"
              >
                <img id="clickOnHeartFavorite{{bike_selected.pk}}" src="{% static 'catalog/images/grad_heart.svg' %}" />
              </button>
            </div>
          </form>

          {% else %}

          <form name="formFavorite" method="post" class="d-flex">
            {% csrf_token %}
            <div class="d-none d-md-flex d-lg-flex">
              <button
                id="clickOnBtnFavorite{{bike_selected.pk}}"
                class="btn btn-primary btn-right btn-bike"
                type="submit"
              >
                В избранное
              </button>
            </div>
            <div class="d-flex">
              <input type="hidden" name="bike_selected" value="{{bike_selected.pk}}"/>
              <input type="hidden" name="favourite_or_star" value="favourite"/>
              <button
                class="btn btn-heart btn-heart-bike"
                type="submit"
              >
                <img id="clickOnHeartFavorite{{bike_selected.pk}}" src="{% static 'catalog/images/black_heart.svg' %}" />
              </button>
            </div>
          </form>

          {% endif %}
            
        </div>
      </div>
    </div>
  </div>
  <div class="pt-3 pb-3 characteristics d-flex border-bottom">
    <h2>Характеристики</h2>
  </div>
  <div class="row d-flex">
  {% for key_parent, value_parent in bike_characteristics.items %}
    <div class="col-12 col-lg-6">
      <div class="table-bike-container">
        <h5>{{ key_parent }}</h5>
        <div>
            <table class="table-bike my-border">
                <tbody>
                    {% for key, value in value_parent.items %}
                    <tr>
                        <td class="text-grey">{{key}}</td>
                        <td>{{value}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
          </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  var currentUrl = $(location).attr('href');
  var black_heart = "{% static 'catalog/images/black_heart.svg' %}";
  var grad_heart = "{% static 'catalog/images/grad_heart.svg' %}";
</script>
<script type="text/javascript" src="{% static 'catalog/js/add_del_favorites.js' %}"></script>

{%endblock%}