{%extends 'base.html'%} 
{%load catalog_tags%} 
{%load static%} 
{%block content%}
<div class="container">
    <div class="">
      <div class="row d-flex">
        <div class="col-12 col-lg-6">
          <img src="{%static bike_selected.img_url%}" class="d-block" />
        </div>
        <div
          class="d-block col-12 col-lg-6 pe-lg-6"
        >
          <div class="">
            <h5>{{bike_selected.mark.name}} {{bike_selected.name}}</h5>
          </div>
        </div>
          {% for key_parent, value_parent in bike_characteristics.items %}
                <div
                    class="col-12 col-md-6 col-lg-6"
                >
                    <h5>{{ key_parent }}</h5>
                    <div class="">
                        <table class="table-bike my-border">
                            <tbody>
                                {% for key, value in value_parent.items %}
                                <tr>
                                    <td class="text-grey">{{key}}</td>
                                    <td>{{value}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                      </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{%endblock%}