{%load static%} {%load catalog_tags%}
<div class="container">
  <div
    id="carouselExampleDark"
    class="carousel carousel-dark slide my-border border"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="0"
        class="active btn small-indicator"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="1"
        class="btn small-indicator"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="2"
        class="btn small-indicator"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      {% for bike in bikes %} {% if forloop.first %}
      <a class="onclick-card" href="{{bike.get_absolute_url}}">
        <div class="carousel-item active">
          <div class="row d-flex">
            <div class="carousel-img col-12 col-md-7 col-lg-7">
              <img src="{%static bike.img_url%}" class="d-block" />
            </div>
            <div
              class="carousel-dark d-block carousel-text col-12 col-md-5 col-lg-5"
            >
              <h5>{{bike.mark.name}} {{bike.name}}</h5>
              <p>{{bikes_characteristics|get_value_from_dict:bike.slug}}</p>
            </div>
          </div>
        </div>
      </a>
      {% else %}
      <a class="onclick-card" href="{{bike.get_absolute_url}}">
        <div class="carousel-item">
          <div class="row d-flex">
            <div class="carousel-img col-12 col-md-7 col-lg-7">
              <img src="{%static bike.img_url%}" class="d-block" />
            </div>
            <div
              class="carousel-dark d-block carousel-text col-12 col-md-5 col-lg-5"
            >
              <h5>{{bike.mark.name}} {{bike.name}}</h5>
            </div>
          </div>
        </div>
      </a>

      {% endif %} {% endfor %}
    </div>
    <button
      class="d-none d-md-block d-lg-block carousel-control-prev carousel-controls"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="prev"
    >
      <img
        src="{%static 'catalog/images/prev.svg'%}"
        aria-hidden="true"
        alt="prev"
      />
    </button>
    <button
      class="d-none d-md-block d-lg-block carousel-control-next carousel-controls"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="next"
    >
      <img
        src="{%static 'catalog/images/next.svg'%}"
        aria-hidden="true"
        alt="next"
      />
    </button>
  </div>
</div>
