{% extends 'base.html' %} 
{% load static %}
{%load catalog_tags%}
{% block content %} 
<!-- фильтр -->
<div class="container">
    <div class="my-catalog-filter">
      <form id="searchForm" name="searchForm">
        <div class="mb-3 input-box my-search-box">
          <input
            class="form-control"
            placeholder="Поиск"
            type="text"
            id="searchFormValue"
            name="searchFormValue"
          />
          <img src="{% static 'catalog/images/search.svg' %}" class="my-search-icon" />
        </div>
      </form>
    </div>
  </div>
{%show_bikes%}
<script type="text/javascript" src="{% static 'catalog/js/catalog_filter.js' %}"></script>
{% endblock %}
