{%extends 'base.html'%} {%load catalog_tags%} {%load static%} {%block content%}
{%show_carousel%}
<div class="container my-view-all">
  <div class="my-view-all-container">
    <a class="nav-link" href="{% url 'catalog' %}">
      Посмотреть все <img src="{% static 'catalog/images/right.svg' %}" />
    </a>
  </div>
</div>

{% block javascript %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script>
      $(document).ready(function () {
          $('form[name=formFavorite]').submit(function () {
              $.ajax({
                  data: $(this).serialize(),
                  url: "{% url 'home' %}",
                  type: "POST",
                  dataType: "json",
                  success: function (response) {
                      if (response.is_taken == true) {
                        if (response.is_added == true){
                          $('#clickOnHeartFavorite' + response.bike_selected).attr('src', "{% static 'catalog/images/grad_heart.svg' %}");
                          $('#clickOnBtnFavorite'+ response.bike_selected).removeClass('btn-primary').addClass('btn-outline-primary');
                          $('#clickOnBtnFavorite'+ response.bike_selected).text('В избранном');
                        }
                        else {
                          $('#clickOnHeartFavorite'+ response.bike_selected).attr('src', "{% static 'catalog/images/black_heart.svg' %}");
                          $('#clickOnBtnFavorite'+ response.bike_selected).removeClass('btn-outline-primary').addClass('btn-primary');
                          $('#clickOnBtnFavorite'+ response.bike_selected).text('В избранное');
                        }
                      }
                  }
              });
              return false;
          });
      })
  </script>

{% endblock javascript %}

{% include 'catalog/includes/list_bikes.html' %} 

{%endblock%}
