{%load static%}
<div class="container">
  <div class="row">
    {% for bike in bikes %}
    <div class="my-card-col col-12 col-md-6 col-lg-4">
      <a class="onclick-card" href="{{bike.get_absolute_url}}">
        <div class="card">
          
          {% if forloop.counter|divisibleby:2 %}
          <div class="card-star">
            <img src="{% static 'catalog/images/black_star.svg' %}" />
            <div class="text-grey">
              &nbspнет оценок
            </div>
          </div>
          {% else %}
          <div class="card-star">
            <img src="{% static 'catalog/images/grad_star.svg' %}" />
            <div>
              &nbsp4,2
            </div>
          </div>
          {% endif %}
            
          <img src="{% static bike.img_url %}" class="card-img-top" />
          <div class="card-body">
            <div class="card-title-container">
              <h5 class="card-title">{{ bike.mark.name }} {{ bike.name }}</h5>
            </div>
            <div class="d-flex row">
              <div class="col-2 d-flex align-items-center">
                <a class="btn btn-heart" href="#" type="button">
                  <img src="{% static 'catalog/images/black_heart.svg' %}" />
                </a>
              </div>
              <div class="col-10 d-flex">
                <a
                  class="btn btn-primary btn-right btn-card"
                  href="#"
                  type="button"
                >
                  В избранное
                </a>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
